@{
    ViewData["Title"] = "Changelog";
}

<h3>Changelog:</h3>
<ul>
    <li>25.08.2022 - main database v3.0 completed;</li>
    <li>10.11.2022 - main database v3.1 & 3.2 & 3.3 added, as well as the v2 and v1.1 of the databases of the Jbou41's and Valambrosio's addons' respectively;</li>
    <li>13.12.2022 - first technical site release;</li>
    <li>06.03.2022 - 1. completed technical site release. 2. first alpha release;</li>
    <li>10.11.2022 - main database updated to v4.1, as well as the v3 & 3.1 of the Jbou41's addon's;</li>
    <li>27.03.2022 - beta release (still contains only database representation, no design).</li>
</ul>
<p></p>
<h3>Future plans:</h3>
<ul>
    <li>Add the 4.1 version of the main database;</li>
    <li>Add the 3.1 version of Jbou41's addon's database;</li>
    <li>Add more <i>completed</i> addons (if any);</li>
    <li>Design the site;</li>
    <li>Add FIFA16 patch version support.</li>
</ul>