@{
    //ViewData["Title"] = "Contacts Page";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Contacts</title>
</head>
<body>
    <p>A contact form will be placed here</p>
</body>
</html>