@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home";
}

<h3>@Localizer["HelloWorld"]</h3>
<p>
    Welcome to the world of football history! Have you ever wondered what it would be like to play with the very first teams to grace the beautiful game?
    Well, wonder no more! Our website is here to offer you an immersive experience into the history of football, and all you need is an internet connection!
</p>
<p>
    We are proud to present to you the FIFA 14 Historical Teams patch, which brings together a complete collection of teams from as far back as the 1870s.
    This patch was carefully crafted to ensure accuracy, data completion, and proper design, making it the perfect addition to your FIFA 14 gaming
    experience. You can now take on the role of legendary football pioneers and compete in matches that helped shape the game we all love today.
</p>
<p>
    But that's not all! Our website offers a unique experience for those who love football history but may not necessarily enjoy video games.
    We have meticulously documented every team, player, and match to give you a glimpse into the evolution of football. You can browse through the history
    of football at your own pace, discovering interesting facts and learning about the pioneers who helped shape the sport we all love.
</p>
<!--todo: warning about 14 & 16 versions-->
<p>
    Enjoy your exploration of football history on our website. We hope you have a fantastic experience and gain a deeper appreciation for the game's rich
    and fascinating past. If you have any questions or feedback, please don't hesitate to <a href="~/Home/Contacts">reach out</a> to us.
</p>
<p>
    Thank you for visiting our site!
</p>