@{
    //ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
    <h3>Hello world!</h3>
    <p>To be deleted:</p>
    <ul>
        Teams
        <li><a href="~/Team/All">All</a></li>
        <li><a href="~/Team/CountryClub">By country</a></li>
        <li><a href="~/Team/Club">By club</a></li>
        <li><a href="~/Team/LeagueTeam">By league (tournament)</a></li>
        <li><a href="~/Team/HalfDecade">By half-decade</a></li>
        <li><a href="~/Team/Season">By season</a></li>
    </ul>
    <ul>
        National Teams
        <li><a href="~/NT/All">All</a></li>
        <li><a href="~/NT/CountryNT">By country</a></li>
        <li><a href="~/NT/LeagueNT">By league (tournament)</a></li>
        <li><a href="~/NT/Period">By period</a></li>
        <li><a href="~/NT/Year">By year</a></li>
    </ul>
</body>
</html>