@model CPDatabase.Models.LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Login"];
}

<h3 class="text-center">@Localizer["Login"]</h3>
<h6 class="text-center">@Localizer["NoteLogin"]</h6>
<!--<a href="~/Home/Register">Register</a>-->
<form asp-anti-forgery="true" action="~/Home/Login" method="post">
    <div class="validation validation-summary-valid" data-valmsg-summary="true">
        <ul><li style="display:none"></li></ul>
    </div>
    <div class="form-group">
        <div>
            <label for="Name">Username</label>
            <input type="text" class="form-control" data-val="true" data-val-required="UsernameRequired" id="Name" name="Name" value="">
            <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
        <div>
            <label for="Password">Password</label>
            <input type="password" class="form-control" data-val="true" data-val-required="PasswordRequired" id="Password" name="Password">
            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
        </div>
        <button type="submit" class="btn btn-outline-primary">@Localizer["Login"]</button>
    </div>
</form>  