<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CP14DB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div>
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item">Teams</li>
                        <li>
                            <ul>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="All">All</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="CountryClub">By country</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Club">By club</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="LeagueTeam">By league (tournament)</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="HalfDecade">By half-decade</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Season">By season</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">National teams</li>
                        <li>
                            <ul>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="NT" asp-action="All">All</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="NT" asp-action="CountryNT">By country</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="NT" asp-action="LeagueNT">By league (tournament)</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="NT" asp-action="Period">By period</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="NT" asp-action="Year">By year</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cahngelog">Changelog</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Feedback">Report & feedback</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a></li>
                        <li class="nav-item">
                            @if (User.Identity.Name == null)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout as @User.Identity.Name</a>
                            }
                        </li>
                    </ul>
                </div>                
            </div>
        </nav>
    </header>
    <div class="container body-content">
            @RenderBody()
    </div>
    <hr/>
    <footer class="footer">
        <div class="container"> &copy; 2023 - CPDatabase </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>